<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.course.example.protectedreceiver"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.course.example.protectedreceiver.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <receiver android:name=".LogWriteReceiver" android:permission="com.course.permission.CS480"
              
               android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="com.course.event.buttonevent" />
              
            </intent-filter>                                 
        </receiver>
        
    </application>

    <uses-permission android:name="com.course.permission.CS480" />
	<permission android:name="com.course.permission.CS480" />

</manifest>